In [ ]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('creditcard.csv')
print(dataset)

       Time        V1        V2        V3        V4        V5        V6  \
0         0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388
1         0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
2         1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499
3         1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203
4         2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921
...     ...       ...       ...       ...       ...       ...       ...
7968  10980  1.284388 -0.013181  0.646174  0.198985 -0.568675 -0.526121
7969  10981  1.190428 -0.122329  0.954945  0.267101 -0.971026 -0.652279
7970  10981 -0.725175  0.298202  1.824761 -2.587170  0.283605 -0.016617
7971  10981  1.226153 -0.129645  0.735197  0.142752 -0.703245 -0.349641
7972  10981  1.145381 -0.059349  0.968088  0.267891 -0.822582 -0.597727

            V7        V8        V9  ...       V21       V22       V23  \
0     0.239599  0.098698  0.363787  ... -0.018307  0.277838 -0.110474
1    -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288
2     0.791461  0.247676 -1.514654  ...  0.247998  0.771679  0.909412
3     0.237609  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321
4     0.592941 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458
...        ...       ...       ...  ...       ...       ...       ...
7968 -0.448235 -0.167709  1.773223  ... -0.101868 -0.030298 -0.081412
7969 -0.612992 -0.003909  1.633117  ... -0.015001  0.127027  0.012079
7970  0.153659  0.045084 -0.197611  ... -0.017097 -0.070535 -0.442861
7971 -0.612641  0.020507  1.648986  ... -0.047936  0.040196 -0.057391
7972 -0.450197 -0.119747  1.338188  ...       NaN       NaN       NaN

           V24       V25       V26       V27       V28  Amount  Class
0     0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62    0.0
1    -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69    0.0
2    -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66    0.0
3    -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50    0.0
4     0.141267 -0.206010  0.502292  0.219422  0.215153   69.99    0.0
...        ...       ...       ...       ...       ...     ...    ...
7968 -0.123281  0.278808  1.064001 -0.090181  0.000481   15.95    0.0
7969  0.534409  0.112179  1.004483 -0.100188 -0.004774   14.95    0.0
7970 -0.895837  0.624743 -0.510601 -0.031142  0.025564   12.95    0.0
7971 -0.012386  0.187685  1.037786 -0.100081 -0.009869   15.95    0.0
7972       NaN       NaN       NaN       NaN       NaN     NaN    NaN

[7973 rows x 31 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7973 entries, 0 to 7972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    7973 non-null   int64
 1   V1      7973 non-null   float64
 2   V2      7973 non-null   float64
 3   V3      7973 non-null   float64
 4   V4      7973 non-null   float64
 5   V5      7973 non-null   float64
 6   V6      7973 non-null   float64
 7   V7      7973 non-null   float64
 8   V8      7973 non-null   float64
 9   V9      7973 non-null   float64
 10  V10     7973 non-null   float64
 11  V11     7973 non-null   float64
 12  V12     7973 non-null   float64
 13  V13     7973 non-null   float64
 14  V14     7973 non-null   float64
 15  V15     7972 non-null   float64
 16  V16     7972 non-null   float64
 17  V17     7972 non-null   float64
 18  V18     7972 non-null   float64
 19  V19     7972 non-null   float64
 20  V20     7972 non-null   float64
 21  V21     7972 non-null   float64
 22  V22     7972 non-null   float64
 23  V23     7972 non-null   float64
 24  V24     7972 non-null   float64
 25  V25     7972 non-null   float64
 26  V26     7972 non-null   float64
 27  V27     7972 non-null   float64
 28  V28     7972 non-null   float64
 29  Amount  7972 non-null   float64
 30  Class   7972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 1.9 MB

In [ ]:
dataset.isna()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7968,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7969,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7970,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7971,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7972,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
dataset.isna().sum()

NameError: ignored

In [ ]:
dataset_1 = dataset.dropna()
dataset_1

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7967,10980,-0.046786,0.030050,2.037794,-0.670130,-0.727283,-0.588537,-0.067966,-0.370767,0.228931,...,0.264364,1.078896,-0.097768,0.375679,-0.500253,-0.159051,-0.018267,-0.061794,39.00,0.0
7968,10980,1.284388,-0.013181,0.646174,0.198985,-0.568675,-0.526121,-0.448235,-0.167709,1.773223,...,-0.101868,-0.030298,-0.081412,-0.123281,0.278808,1.064001,-0.090181,0.000481,15.95,0.0
7969,10981,1.190428,-0.122329,0.954945,0.267101,-0.971026,-0.652279,-0.612992,-0.003909,1.633117,...,-0.015001,0.127027,0.012079,0.534409,0.112179,1.004483,-0.100188,-0.004774,14.95,0.0
7970,10981,-0.725175,0.298202,1.824761,-2.587170,0.283605,-0.016617,0.153659,0.045084,-0.197611,...,-0.017097,-0.070535,-0.442861,-0.895837,0.624743,-0.510601,-0.031142,0.025564,12.95,0.0
7971,10981,1.226153,-0.129645,0.735197,0.142752,-0.703245,-0.349641,-0.612641,0.020507,1.648986,...,-0.047936,0.040196,-0.057391,-0.012386,0.187685,1.037786,-0.100081,-0.009869,15.95,0.0

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv("creditcard.csv")

In [ ]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [ ]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37722 entries, 0 to 37721
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    37722 non-null  int64
 1   V1      37722 non-null  float64
 2   V2      37722 non-null  float64
 3   V3      37722 non-null  float64
 4   V4      37722 non-null  float64
 5   V5      37722 non-null  float64
 6   V6      37722 non-null  float64
 7   V7      37721 non-null  float64
 8   V8      37721 non-null  float64
 9   V9      37721 non-null  float64
 10  V10     37721 non-null  float64
 11  V11     37721 non-null  float64
 12  V12     37721 non-null  float64
 13  V13     37721 non-null  float64
 14  V14     37721 non-null  float64
 15  V15     37721 non-null  float64
 16  V16     37721 non-null  float64
 17  V17     37721 non-null  float64
 18  V18     37721 non-null  float64
 19  V19     37721 non-null  float64
 20  V20     37721 non-null  float64
 21  V21     37721 non-null  float64
 22  V22     37721 non-null  float64
 23  V23     37721 non-null  float64
 24  V24     37721 non-null  float64
 25  V25     37721 non-null  float64
 26  V26     37721 non-null  float64
 27  V27     37721 non-null  float64
 28  V28     37721 non-null  float64
 29  Amount  37721 non-null  float64
 30  Class   37721 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 8.9 MB

In [ ]:
df.shape

(37722, 31)

In [ ]:
df["Class"].value_counts()
# unbalanced dataset
# 0 -> normal transaction
# 1 -> fraudulent transaction

0.0    37618
1.0      103
Name: Class, dtype: int64

In [ ]:
#seperating data for analysis
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [ ]:
#statistical measure of data
legit.Amount.describe()

count    37618.000000
mean        86.017411
std        232.957939
min          0.000000
25%          7.300000
50%         22.880000
75%         77.675000
max       7879.420000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     103.000000
mean       90.471165
std       247.173335
min         0.000000
25%         1.000000
50%         3.760000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
#compare values for both transactions
df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,24778.212797,-0.186787,0.044196,0.749331,0.176750,-0.209569,0.105912,-0.092989,0.025693,0.243321,...,0.044683,-0.032046,-0.111604,-0.040404,0.007159,0.135739,0.021382,0.007030,0.003658,86.017411
1.0,20498.291262,-7.762676,5.838647,-10.957218,5.911555,-5.453798,-2.306085,-7.743100,3.867920,-2.961800,...,0.652319,0.628539,-0.354537,-0.362138,-0.234731,0.300023,0.180390,0.822304,0.102481,90.471165

In [ ]:
#sample dataset containing similar distribution of normal transactions and fraudulent transactions
#number of fraudulent transactions -> 368

legit_sample = legit.sample(n=368)

In [ ]:
# concatenating two dataframes
new_df = pd.concat([legit_sample, fraud], axis = 0)

In [ ]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
49694,44165.0,0.938542,-1.258251,0.801452,-0.385588,-1.769340,-0.933327,-0.573813,-0.176914,-0.567376,...,0.276599,0.223419,-0.108466,0.727547,0.145738,-0.341333,-0.009846,0.068375,228.00,0.0
55558,47010.0,1.227785,-0.314139,0.826844,0.380663,-0.756503,0.336623,-0.856950,0.316281,0.844159,...,0.068847,0.277283,-0.143662,-0.471258,0.357119,0.646351,-0.009952,0.000354,1.00,0.0
36602,38613.0,-0.588026,0.757735,2.364242,3.122943,-0.402182,0.579821,-0.106896,0.398175,-0.529681,...,0.208190,0.817743,0.005373,0.401746,-0.418844,0.358647,0.429697,0.224204,37.91,0.0
93647,64525.0,1.188628,-1.571862,0.676647,-1.381994,-1.750695,0.016205,-1.306510,0.136067,-1.812163,...,0.084280,0.374473,-0.081155,0.004908,0.181594,-0.101759,0.040151,0.032928,128.00,0.0
96209,65661.0,1.261049,0.683945,-0.176365,2.049268,0.870733,0.409091,0.351588,-0.053828,-1.270709,...,-0.070158,-0.202667,-0.249606,-1.008827,0.800148,0.069389,-0.025660,-0.005220,6.25,0.0

In [ ]:
new_df['Class'].value_counts()

0.0    368
1.0    103
Name: Class, dtype: int64

In [ ]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,24341.456522,-0.276668,-0.072593,0.662145,0.092750,-0.275670,0.102928,-0.021686,-0.023696,0.233054,...,0.113388,-0.034783,-0.126762,-0.011467,0.010303,0.119904,0.008839,-0.018574,0.014542,117.237690
1.0,20498.291262,-7.762676,5.838647,-10.957218,5.911555,-5.453798,-2.306085,-7.743100,3.867920,-2.961800,...,0.652319,0.628539,-0.354537,-0.362138,-0.234731,0.300023,0.180390,0.822304,0.102481,90.471165

In [ ]:
#Splitting data into features and target
X = new_df.drop(columns = "Class", axis=1)
Y = new_df["Class"]

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
49694    44165.0  0.938542 -1.258251  0.801452 -0.385588 -1.769340 -0.933327
55558    47010.0  1.227785 -0.314139  0.826844  0.380663 -0.756503  0.336623
36602    38613.0 -0.588026  0.757735  2.364242  3.122943 -0.402182  0.579821
93647    64525.0  1.188628 -1.571862  0.676647 -1.381994 -1.750695  0.016205
96209    65661.0  1.261049  0.683945 -0.176365  2.049268  0.870733  0.409091
...          ...       ...       ...       ...       ...       ...       ...
178208  123525.0 -5.904921  4.439911 -8.631802  7.788684 -4.989580 -1.200144
181966  125200.0 -0.769172  1.342212 -2.171454 -0.151513 -0.648374 -0.973504
182992  125612.0  1.889618  1.073099 -1.678018  4.173268  1.015516 -0.009389
183106  125658.0  0.224414  2.994499 -3.432458  3.986519  3.760233  0.165640
184379  126219.0 -1.141559  1.927650 -3.905356 -0.073943 -0.044858 -1.756999

              V7        V8        V9  ...       V20       V21       V22  \
49694  -0.573813 -0.176914 -0.567376  ...  0.517530  0.276599  0.223419
55558  -0.856950  0.316281  0.844159  ... -0.150561  0.068847  0.277283
36602  -0.106896  0.398175 -0.529681  ...  0.258442  0.208190  0.817743
93647  -1.306510  0.136067 -1.812163  ... -0.130276  0.084280  0.374473
96209   0.351588 -0.053828 -1.270709  ... -0.021942 -0.070158 -0.202667
...          ...       ...       ...  ...       ...       ...       ...
178208 -7.674060  4.125761 -5.315778  ... -0.505608  1.775030  1.266441
181966 -1.706658  0.313745 -1.982302  ... -0.102294 -0.036122 -0.753591
182992 -0.079706  0.064071 -0.714517  ... -0.153570  0.203728  0.733796
183106  1.099378 -0.654557 -2.435416  ... -0.200846  0.491337 -0.984223
184379 -1.217416  0.364563 -2.770148  ... -0.250583  0.102081 -0.531496

             V23       V24       V25       V26       V27       V28  Amount
49694  -0.108466  0.727547  0.145738 -0.341333 -0.009846  0.068375  228.00
55558  -0.143662 -0.471258  0.357119  0.646351 -0.009952  0.000354    1.00
36602   0.005373  0.401746 -0.418844  0.358647  0.429697  0.224204   37.91
93647  -0.081155  0.004908  0.181594 -0.101759  0.040151  0.032928  128.00
96209  -0.249606 -1.008827  0.800148  0.069389 -0.025660 -0.005220    6.25
...          ...       ...       ...       ...       ...       ...     ...
178208 -0.199410  0.014960 -0.000019  0.544210 -1.167566 -1.206354   45.51
181966 -0.047113  0.358493 -0.287407  0.476506  0.250531  0.250987   40.00
182992 -0.036560  0.334306  0.147171  0.279556  0.031669  0.035883    3.22
183106 -0.421979 -1.048058  0.726412  0.268625  0.283689  0.419102    0.00
184379 -0.328741  0.393100  0.568435  0.786605 -0.146102  0.076211   25.00

[736 rows x 30 columns]

In [ ]:
#Splitting data into training and testing
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(471, 30) (376, 30) (95, 30)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(376, 30)
(95, 30)
(376,)
(95,)

In [ ]:
#Model training
# Logistic Regression

model = LogisticRegression()

In [ ]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
# Model Evaluation
# Accuracy on training data
X_train_predict = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_predict, Y_train)

In [ ]:
print("Accuracy on training data : ", training_data_accuracy)

Accuracy on training data :  0.9680851063829787

In [ ]:
# Accuracy on training data
X_test_predict = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_predict, Y_test)

In [ ]:
print("Accuracy on testing data : ", testing_data_accuracy)

Accuracy on testing data :  0.9578947368421052

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train, Y_train)
predTrain = nb.predict(X_train)
from sklearn.metrics import classification_report
print(classification_report(Y_train, predTrain))
from sklearn.metrics import roc_auc_score as roc
print('ROC AUC Score: ',roc(Y_train, predTrain))

              precision    recall  f1-score   support

         0.0       0.97      0.98      0.98       294
         1.0       0.94      0.89      0.91        82

    accuracy                           0.96       376
   macro avg       0.95      0.94      0.94       376
weighted avg       0.96      0.96      0.96       376

ROC AUC Score:  0.9366185498589679

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train, Y_train)